body {
  margin: 2rem;
}

.Margin {
  margin-left: 0.5rem;
}
.App {
  width: 520px;
  margin: 0 auto;
}
.App h2 {
  text-align: center;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
